<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LessonImgMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.LessonImg">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="lesson_id" jdbcType="INTEGER" property="lessonId" />
    <result column="imageurl" jdbcType="VARCHAR" property="imageurl" />
  </resultMap>
</mapper>