<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RequestFriendshipMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.RequestFriendship">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="friendname" jdbcType="VARCHAR" property="friendname" />
  </resultMap>
  <select id="selectByUsernameAndFriendname" parameterType="Map" resultType="Integer">
  	select count(*)
  	from request_friendship 
  	where username=#{username} and friendname=#{friendname}
  </select>
  <delete id="deleteByUsernameAndFriendname" parameterType="Map">
	delete from request_friendship where username=#{username} and friendname=#{friendname}
  </delete>
  <select id="selectUserByFriendname" parameterType="string" resultType="com.example.demo.pojo.User">
  	select u.username,u.type,u.logo 
  	from user u,request_friendship f 
  	where f.friendname=#{friendname} and f.username=u.username
  </select>
</mapper>